body {
    background-color: whitesmoke;
}

img {
    float: right;
    width: 200px;
}

#profilePic {
    border-radius: 50%;
}

#logo {
    float: left;
    width: 300px;
}

#uploader {
    background-color: thistle;
    width: 400px;
    /* height: 100px; */
}
