* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: whitesmoke;
}

img {
    float: right;
    width: 200px;
}

#profilePic {
    position: relative;
    border-radius: 50%;
    width: 100px;
}

#logo {
    position: relative;
    width: 100px;
}
